<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <!-- add the <app-product-alerts> element to product-list.component.html. Pass the current product as input to the component using property binding. -->
  <button type="button" (click)="share()">Share</button>
  <!-- //buttons for the actions notify and share  -->
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>

<!-- In this section, you've created an application that iterates through data and features components that communicate with each other. -->
